.landing--page {
    background-color: white;
    height: 100vh;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 1;
    &__title {
        color: $charcoal;
        font-family: $oswald;
        font-weight: 360;
        font-size: $large-size + 0.3vw;
    }
    
}

@media screen and (max-width: 576px) {
    .landing--page{
        background-color: white;
        height: 100vh;
        position: fixed;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        &__title {
            color: $charcoal;
            font-family: $oswald;
            font-weight: 300;
            font-size: $large-size + 4vw;
        }
    }
 }